*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/papier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: underline;
}